*venv*
*env*
*.idea*
*/MNIST_data
*.pyc
*.csv
/bitcoin_practice_nick/test_data
/bitcoin_practice_nick/train_data
/bitcoin_practice_nick/npy_data
bitcoin_practice_nick/test_data
bitcoin_practice_nick/train_data
bitcoin_practice_nick/npy_data
bitcoin_practice_nick/data.zip
